.countdown {
  font-family: Menlo, monospace;
  font-size: 5rem;
  font-variant-numeric: tabular-nums;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.page-content {
  box-sizing: border-box;
  padding-top: 2rem;
  max-width: 960px;
}

.text {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.textarea {
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 760px;
  min-height: 200px;
  background: transparent;
  resize: none !important;
}
